<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sửa Thuốc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Sửa Thuốc</h1>
    <form action="{{ url_for('edit_medicine', id=medicine.id) }}" method="POST">
        <label for="name">Tên Thuốc:</label><br>
        <input type="text" id="name" name="name" value="{{ medicine.name }}" required><br>

        <label for="description ">Công dụng:</label><br>
        <input type="text" id="description" name="description" value="{{ description }}" maxlength="255" required><br>

        <label for="price">Giá:</label><br>
        <input type="text" id="price" name="price" value="{{ medicine.price }}" required><br>

        <label for="quantity">Số Lượng:</label><br>
        <input type="text" id="quantity" name="quantity" value="{{ medicine.quantity }}" required><br>

        <label for="expiry_date">Hạn Sử Dụng:</label><br>
        <input type="text" id="expiry_date" name="expiry_date" value="{{ medicine.expiry_date }}" required><br><br>

        <button type="submit">Cập Nhật</button>
    </form>
</body>
</html>
