<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="UTF-8">
    <title>Trang Chủ - Quản Lý Nhà Thuốc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>HỆ THỐNG QUẢN LÝ NHÀ THUỐC </h1>
        <div class="button-container">
            <a href="{{ url_for('login') }}" class="button">LOGIN</a>
        </div>
    </div>
</body>
</html>
