<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="UTF-8">
    <title>Trang Chủ - Quản Lý Nhà Thuốc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>HỆ THỐNG QUẢN LÝ NHÀ THUỐC </h1>
        <a href="/logout " class="exit-button">Logout</a>
        <div class="button-container">
            <a href="{{ url_for('list_medicines') }}" class="button">Quản Lý Thuốc</a>
            <a href="{{ url_for('list_customers') }}" class="button">Quản Lý Khách Hàng</a>
            <a href="{{ url_for('list_invoices') }}" class="button">Quản Lý Hóa Đơn</a>
            <a href="{{ url_for('revenue') }}" class="button">Báo Cáo Doanh Thu</a>
        </div>
    </div>
</body>
</html>
