<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="UTF-8">
    <title>Trang Chủ - Quản Lý Nhà Thuốc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>HỆ THỐNG QUẢN LÝ NHÀ THUỐC </h1>
        <a href="/logout " class="exit-button">Logout</a>
        

        <div class="nav-bar">
            <nav>
                <div><a href="" class="logo">
                       
                        <span class="nav-item">TrangPharma</span>
                    </a>
                </div>
                <ul>
                    <hr>
                    <li>
                            <a href="{{ url_for('list_medicines') }}" class="choice_btn">Quản Lý Thuốc</a>
                    </li>

                    <li>
                        <a href="{{ url_for('list_customers') }}" class="choice_btn">Quản Lý Khách Hàng</a>
                    </li>
                    <li>
                        <a href="{{ url_for('list_invoices') }}" class="choice_btn">Quản Lý Hóa Đơn</a>
                    </li>
                    <li>
                        <a href="{{ url_for('revenue') }}" class="choice_btn">Báo Cáo Doanh Thu</a>  
                    </li>



                </ul>
            </nav>
        </div>
    </div>
</body>
</html>
