<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh Sách Thuốc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="medicine-container">
        <h1 class="title">Danh Sách Thuốc</h1>
        <div class="action-buttons">
            <a href="/login" class="exit-button">Đăng xuất</a>
            <a href="{{ url_for('add_medicine') }}" class="add-button">Thêm Thuốc</a>
        </div>
        <table class="medicine-table">
            <thead>
                <tr>
                    <th>Tên Thuốc</th>
                    <th>Giá</th>
                    <th>Số Lượng</th>
                    <th>Hạn Sử Dụng</th>
                    <th>Hành Động</th>
                </tr>
            </thead>
            <tbody>
                {% for medicine in medicines %}
                <tr>
                    <td>{{ medicine.name }}</td>
                    <td>{{ medicine.price }}</td>
                    <td>{{ medicine.quantity }}</td>
                    <td>{{ medicine.expiry_date }}</td>
                    <td class="action-column">
                       
                        <a href="{{ url_for('edit_medicine', id=medicine.id) }}" class="edit-button">Sửa</a>
                        <form action="{{ url_for('delete_medicine', id=medicine.id) }}" method="POST" class="delete-form">
                            <button type="submit" class="delete-button" onclick="return confirm('Bạn có chắc chắn muốn xóa thuốc này?');">Xóa</button>
                        </form>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
